<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\_dev\Td3</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/EntityFramework.dll">
      <publishTime>02/22/2012 13:47:21</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>02/22/2012 13:47:21</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>02/22/2012 13:47:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Optimization.dll">
      <publishTime>02/22/2012 13:47:30</publishTime>
    </File>
    <File Include="bin/RiaLibrary.Web.dll">
      <publishTime>03/04/2012 10:30:30</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>02/22/2012 13:47:25</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>02/22/2012 13:47:29</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>02/22/2012 13:47:30</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>02/22/2012 13:47:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>02/22/2012 13:47:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>02/22/2012 13:47:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>02/22/2012 13:47:25</publishTime>
    </File>
    <File Include="bin/TravelDiary.dll">
      <publishTime>06/17/2012 17:22:52</publishTime>
    </File>
    <File Include="bin/TravelDiary.pdb">
      <publishTime>06/17/2012 17:22:52</publishTime>
    </File>
    <File Include="Content/fancybox/blank.gif">
      <publishTime>03/03/2012 14:36:10</publishTime>
    </File>
    <File Include="Content/fancybox/fancybox_buttons.png">
      <publishTime>03/03/2012 14:36:10</publishTime>
    </File>
    <File Include="Content/fancybox/fancybox_loading.gif">
      <publishTime>03/03/2012 14:36:10</publishTime>
    </File>
    <File Include="Content/fancybox/fancybox_sprite.png">
      <publishTime>03/03/2012 14:36:10</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/05/2012 20:10:08</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/04/2012 21:55:23</publishTime>
    </File>
    <File Include="Index.aspx">
      <publishTime>03/11/2012 10:50:16</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/03/2012 21:19:41</publishTime>
    </File>
    <File Include="Views/Home/Adm.cshtml">
      <publishTime>06/17/2012 17:22:08</publishTime>
    </File>
    <File Include="Views/Home/Day.cshtml">
      <publishTime>06/17/2012 17:17:25</publishTime>
    </File>
    <File Include="Views/Home/Details.cshtml">
      <publishTime>06/17/2012 17:02:16</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>06/17/2012 17:13:14</publishTime>
    </File>
    <File Include="Views/Home/Upload.cshtml">
      <publishTime>06/17/2012 17:18:14</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>02/22/2012 13:47:06</publishTime>
    </File>
    <File Include="Views/Shared/_DayList.cshtml">
      <publishTime>03/08/2012 20:34:20</publishTime>
    </File>
    <File Include="Views/Shared/_DaysListContainer.cshtml">
      <publishTime>03/08/2012 20:31:45</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>06/17/2012 19:17:28</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>02/22/2012 13:47:06</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>02/28/2012 20:33:39</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/17/2012 17:24:42</publishTime>
    </File>
  </ItemGroup>
</Project>